* {
    padding: 0;
    margin: 0;
}

contentpage {
    background-color: #fff;
}

stacklayout {
    margin: 0;
    padding: 0;
}

.registration_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    padding: 10 15;
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header label {
    color: #222;
    /*font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 700;*/
    font-size: 16;
}



.avatar {
    width: 30;
    height: 30;
}

.quote_space {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quote_bg{
}

.quote {
    text-wrap: normal;
    text-align: center;
    color: #ddd;
    font-size: 18;
    font-weight: bold;
    margin: 0 20 15 20;
}

.author {
    color: #ccc;
    font-size: 15;
    text-align: end;
    padding-right: 30;

}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1 {
    border-top-width: 5;
}

.active {
}

.unactive {
}
